<div class="row driver-complete">
    <div class="text-center">
        <h4>Chúc mừng bạn đã hoàn thành chuyến đi.</h4>
    </div>
    <div class="text-center">
        <a href="/driver" class="btn btn-primary mt-3 mb-3" onclick="driverCompleteRide()">Tiếp tục nhận khách</a>
    </div>
</div>
