<div class="row driver-home">
    <div class="col-sm-6 mb-4">
        {{#ifnoteq user.status "PENDING"}}
        <div class="activated-user">
            <form onsubmit="ready(event)" id="driver-ready-form">
                <div class="text-center">
                    <h4 class="mb-4">Sẵn sàng đón khách?</h4>
                    <button type="submit" class="btn btn-primary mb-3">Sẵn sàng</button>
                </div>
            </form>
            <div id="driver-waiting" style="display: none;">
                <div class="text-center">
                    <h4 class="mb-4">Đang chờ khách, bạn sẽ nhận được thông báo khi có khách đặt xe!</h4>
                    <button type="button" class="btn btn-primary mb-3" onclick="driverCancelWaiting()">Tạm nghỉ</button>
                </div>
            </div>
            <div id="driver-picking" style="display: none;">
                <div class="text-center">
                    <h4 class="mb-4">Đón khách tại: </h4>
                    <div class="mt-3 mb-3">
                        <i class="ride-from"></i>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#driver-cancel-ride">Hủy chuyến</button>
                    <button type="button" class="btn btn-primary" onclick="driverConfirmPicking()">Đã đón khách</button>
                </div>
            </div>
            <div id="driver-riding" style="display: none;">
                <div class="text-center">
                    <h4 class="mb-4">Nhấn hoàn thành sau khi hoàn thành chuyến đi!</h4>
                    <button type="button" class="btn btn-primary mb-3" onclick="driverCompleteRide()">Hoàn
                        thành</button>
                </div>
            </div>
            <div id="driver-complete" style="display: none;">
                <div class="text-center">
                    <h4 class="mb-4">Chúc mừng bạn đã hoàn thành chuyến đi</h4>
                    <div class="mb-4">Số tiền: <strong id="complete-amount"></strong></div>
                    <button type="button" class="btn btn-primary mb-3" onclick="driverCompleteRideAndBack()">Tiếp tục
                        tìm chuyến</button>
                </div>
            </div>
        </div>
        {{/ifnoteq}}
        {{#ifeq user.status "PENDING"}}
        <div class="pending-user">
            <div class="text-center">
                <h5 class="mb-4 text-warning">Tài khoản của bạn đang được xét duyệt. Vui lòng chờ trước khi có thể nhận chuyến xe.</h5>
            </div>
        </div>
        {{/ifeq}}
    </div>
    <div class="col-sm-6">
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-ride-found" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Có khách mới</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="countdown">
                        <div id="countdown-number">15</div>
                        <svg>
                            <circle r="18" cx="20" cy="20"></circle>
                        </svg>
                    </div>
                </div>
                <div class="ride-info">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Điểm đi</label>
                        <label class="col-sm-9 col-form-label ride-from">From</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Điểm đến</label>
                        <label class="col-sm-9 col-form-label" id="ride-to">To</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Quãng đường</label>
                        <label class="col-sm-9 col-form-label" id="ride-distance">To</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Số tiền</label>
                        <label class="col-sm-9 col-form-label" id="ride-amount">123,123 VND</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Phương thức thanh toán</label>
                        <label class="col-sm-9 col-form-label" id="payment-method">123,123 VND</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Ghi chú</label>
                        <label class="col-sm-9 col-form-label" id="ride-note">
                            Note
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="driverSkipRide()" data-bs-dismiss="modal">Từ
                    chối</button>
                <button type="button" class="btn btn-primary" onclick="driverAcceptRide()" data-bs-dismiss="modal">Nhận
                    khách </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cancel Ride-->
<div class="modal fade" id="driver-cancel-ride" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Xác nhận hủy chuyến </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc bạn muốn hủy chuyến đi?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="driverCancelRide()" data-bs-dismiss="modal">Hủy
                    chuyến</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tiếp tục chuyến đi</button>
            </div>
        </div>
    </div>
</div>