<div class="alert alert-success admin-booking-success" role="alert" style="
    position: fixed;
    top: 30px;
    right: 30px; 
    display: none">
    Chuyến đi được tạo thành công, mã chuyến <b class="admin-last-booking-id">12</b>
</div>
<div class="row booking-view">
    <div class="col-sm-6 mb-4">
        <div class="booking-area">
            <form onsubmit="checkPrice(event)">
                <div class="mb-3 row">
                    <label for="fromLocation" class="col-sm-3 col-form-label d-none d-sm-block">Điểm đi</label>
                    <div class="col-sm-9">
                        <div class="from-location-box search-input">
                            <div class="input">
                                <input autocomplete="off" type="text" class="form-control" id="fromLocation"
                                    placeholder="Vị trí hiện tại" onkeyup="debounceSearchPlaces(event)">
                            </div>
                            <div class="search-suggestion-list" id="search-suggestion-list" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="toLocation" class="col-sm-3 col-form-label d-none d-sm-block">Điểm đến</label>
                    <div class="col-sm-9">
                        <div class="search-input to-location-box">
                            <div class="input">
                                <input autocomplete="off" type="text" class="form-control" id="toLocation"
                                    placeholder="Điểm đến" onkeyup="debounceSearchPlaces(event)">
                            </div>
                            <div class="search-suggestion-list" id="search-suggestion-list" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="btn btn-primary mb-3">Kiểm tra</button>
                    </div>
                </div>
            </form>
            <div class="price-section" id="price-section" style="display: none;">
                <div class="row" data-taxi-type="XE-4-CHO">
                    <label class="col-3 col-sm-3 col-form-label">Xe 4 chỗ</label>
                    <label class="col-6 col-sm-7 col-form-label price" id="price-4-seat"></label>
                    <label class="col-3 col-sm-2 col-form-label d-flex justify-content-end">
                        <button class="btn btn-outline-primary" onclick="selectRide(event)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Chọn</button>
                    </label>
                </div>

                <div class="row" data-taxi-type="XE-4-VIP">
                    <label class="col-3 col-sm-3 col-form-label">Xe 4 chỗ VIP</label>
                    <label class="col-6 col-sm-7 col-form-label price" id="price-4-seat-vip"></label>
                    <label class="col-3 col-sm-2 col-form-label d-flex justify-content-end">
                        <button class="btn btn-outline-primary" onclick="selectRide(event)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Chọn</button>
                    </label>
                </div>
                <div class="row" data-taxi-type="XE-7-CHO">
                    <label class="col-3 col-sm-3 col-form-label">Xe 7 chỗ</label>
                    <label class="col-6 col-sm-7 col-form-label price" id="price-7-seat"></label>
                    <label class="col-3 col-sm-2 col-form-label d-flex justify-content-end">
                        <button class="btn btn-outline-primary" onclick="selectRide(event)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Chọn</button>
                    </label>
                </div>
                <div class="row" data-taxi-type="XE-7-VIP">
                    <label class="col-3 col-sm-3 col-form-label">Xe 7 chỗ VIP</label>
                    <label class="col-6 col-sm-7 col-form-label price" id="price-7-seat-vip"></label>
                    <label class="col-3 col-sm-2 col-form-label d-flex justify-content-end">
                        <button class="btn btn-outline-primary" onclick="selectRide(event)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Chọn</button>
                    </label>
                </div>
            </div>
        </div>
        <div class="found-driver" style="display: none;">
            <h5>Đã tìm thấy tài xế!</h5>
            <div class="ride-info">
                <div class="driver-info">
                    <h5>Thông tin tài xế</h5>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Tài xế</label>
                        <label class="col-sm-9 col-form-label" id="driver-name">Lê Thành Nam </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Số điện thoại</label>
                        <label class="col-sm-9 col-form-label" id="driver-phone">fasd jfhasd </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Dòng xe</label>
                        <label class="col-sm-9 col-form-label" id="car-model"></label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Biển số</label>
                        <label class="col-sm-9 col-form-label" id="car-number"></label>
                    </div>
                </div>

                {{!-- <div>
                    <h5 class="mt-3">Thông tin chuyến</h5>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Điểm đi</label>
                        <label class="col-sm-9 col-form-label ride-from">fasd jfhasd </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Điểm đến</label>
                        <label class="col-sm-9 col-form-label" id="ride-to">fasd jfhasd gasffsd</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Số tiền</label>
                        <label class="col-sm-9 col-form-label" id="ride-amount">123,123 VND</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Phương thức thanh toán</label>
                        <label class="col-sm-9 col-form-label" id="ride-payment-method">123,123 VND</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Ghi chú</label>
                        <label class="col-sm-9 col-form-label" id="ride-note">
                            fsahudiof hsadufh úad ádf hjksadlhf jksaldh fjksadf ádf sadjkflsad jkflsad jkflsad jkflsad
                        </label>
                    </div>
                </div> --}}

            </div>
        </div>

        <div class="user-riding" style="display: none;">
            <h5>Tài xế đã đón</h5>
            <div class="ride-info">
                <p>Chúc bạn có một chuyến đi thuận lợi.</p>
            </div>
        </div>

        <div class="user-complete" style="display: none;">
            <h5>Hoàn thành</h5>
            <div>
                <p>Bạn đã hoàn thành chuyến đi, cám ơn bạn đã sử dụng dịch vụ, mãi yêu!</p>
                <button type="button" class="btn btn-primary" onclick="location.reload();">Tìm xe</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="map"></div>
    </div>

    <div class="booking-loading" style="display: none;">
        <div class="loading-container">
            <div class="loading-circle circle-1"></div>
            <div class="loading-circle circle-2"></div>
        </div>
        <div class="cancel-booking mb-5">
            <button class="btn btn-primary" onclick="cancelBooking()"> Hủy chuyến</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin chuyến đi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline mb-4">
                    <label class="form-label" for="payment-method">Phương thức thanh toán</label>
                    <div id="payment-radios">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment-method" id="inlineRadio1"
                                value="CASH" checked>
                            <label class="form-check-label" for="inlineRadio1">Tiền mặt</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment-method" id="inlineRadio2"
                                value="CARD">
                            <label class="form-check-label" for="inlineRadio2">Thẻ tín dụng</label>
                        </div>
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="note">Ghi chú</label>
                    <textarea type="te" id="note" class="form-control" name="note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="bookCar()" data-bs-dismiss="modal">Tìm
                    xe</button>
            </div>
        </div>
    </div>
</div>