<div class="row">
  <div class="col-sm-6">
    {{!-- <lottie-player src="/public/json/taxi.json" background="transparent" speed="1"
      style="width: 300px; height: 300px" direction="1" mode="normal" loop autoplay></lottie-player> --}}
    <lottie-player autoplay loop mode="normal" style="width: 100%"></lottie-player>
  </div>
  <div class="col-sm-6">
    <div class="card" style="max-width: 400px;">
      <div class="card-body">
        <form action="/login" method="post">
          <h4 class="mb-3">Đăng nhập người dùng</h4>
          {{#if loginMessage}}
          <div class="mt-3 mb-3 alert alert-danger" role="alert">
            {{loginMessage}}
          </div>
          {{/if}}
          <!-- SDT input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Số điện thoại</label>
            <input type="text" id="email" class="form-control" name="phone" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Mật khẩu</label>
            <input type="password" id="password" class="form-control" name="password" />
          </div>

          <!-- 2 column grid layout for inline styling -->
          {{!-- <div class="row mb-4">
            <div class="col d-flex justify-content-end">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div> --}}

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

          <!-- Register buttons -->
          <div >
            <p>Chưa có tài khoản hả? <a href="/sign-up">Đăng ký</a></p>
            <p>Bạn là tài xế? <a href="/driver-login">Đăng nhập tài xế</a></p>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<script>
  const player = document.querySelector("lottie-player");
  player.load(`${window.location.origin}/json/taxi.json`);
</script>